<%- include('header') -%>

<h1>Categories</h1>
<ul>
  <li><a href="/inventory/category/61e54714fd6cd9330e186d82">Igneous</a></li>
  <li><a href="/inventory/category/61e54714fd6cd9330e186d87">Sedimentary</a></li>
  <li><a href="/inventory/category/61e54714fd6cd9330e186d85">Metamorphic</a></li>
</ul>

<%- include('footer') -%>