<%- include('header') -%>

  <h1><%= title %></h1>
  <p>Welcome to the <%= title %> Web Application</p>
  <a href="/inventory/category">Categories</a>
  <a href="/inventory/item">Items</a>
<%- include('footer') -%>