<%- include('header') -%>

<h1>Items</h1>
<ul>
  <li><a href="/inventory/item/list">Item list</a></li>
  <li>Create Item</li>
  <li>Update Item</li>
  <li>Delete Item</li>
</ul>

<%- include('footer') -%>